header{
    text-align: center;
}

.calculator{
    text-align: center;
    background-color: yellow;
    margin: 15% auto;
}

.display-bar{
    background-color: black;
}

.text-box{
    width: 410px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

p{
    color: white;
}

.all-buttons > div >.btn{
    display: inline;
}

.all-buttons > div > div > button{
    width: 100px;
    height: 100px;
    background-color: grey;
}

#zero-button{
    width: 204px;
}