header{
    text-align: center;
}

.calculator{
    text-align: center;
}

.text-box{
    width: 410px;
    height: 100px;
    background-color: black;
    display: inline-block;
    text-align: right;
}

.text-box > p{
    padding: 20px;
}

p{
    color: white;
}

.all-buttons > div >.btn{
    display: inline;
}

.all-buttons > div > div > button{
    width: 100px;
    height: 100px;
    background-color: grey;
}

#zero-button{
    width: 204px;
}